@model SoftIms.Data.ViewModel.PurchaseOrderViewModel
@{
    int sno = 0;
    var tdStyle = "border:1px solid; vertical-align:middle;font-size:14px;padding: 3px !important;";
    var emptyTdStyle = "border-left:1px solid; border-right:1px solid; border-bottom:0px;border-top:0px;";
    var detail = (List<SoftIms.Data.ViewModel.PurchaseOrderDetailViewModel>)Session["PurchaseOrderDetail"];
    var rowcount = detail.Count > 8 ? 25 : 40;
    var emptyRows = rowcount - detail.Count;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />
    <title>Item Request Report</title>
    <link href="~/Content/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/css/AdminLTE.min.css" rel="stylesheet" />
    <link href="~/Content/custom.css" rel="stylesheet" />
    <script src="~/Content/jquery/dist/jquery.min.js"></script>
    <link href="~/Content/logo.png" rel="shortcut icon" />
    <style>
        body {
            background: rgb(204,204,204);
        }

        page[size="A4"] {
            background: white;
            width: 21cm;
            height: 29.7cm;
            display: block;
            margin: 0 auto;
            margin-bottom: 0.5cm;
            box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
        }

        @@media print {
            body, page[size="A4"] {
                margin: 0;
                box-shadow: 0;
            }

            .do-not-print {
                border: 0px !important;
                background: white !important;
            }
        }

        .do-not-print {
            max-height: 800px !important;
        }

        .print-table td, th {
            padding: 6px !important;
        }

        th {
            text-align: center;
        }
    </style>
</head>
<body>
    <page size="A4" style="padding:1px 20px; font-size:14px; min-height:800px;">
        <div class="row">
            <div class="col-xs-3">
                <div class="text-center">
                    <img src="~/Content/logo.png" style="z-index:-999; border: 6px solid #FFFFFF; border-radius: 50%;margin-bottom: -40px;width: 125px;height: 125px;" class="img-circle img">
                </div>
            </div>
            <div class="text-center col-xs-6">
                <h3 style="font-weight:bold;">@OfficeInfo.Name</h3>
                <h4>@OfficeInfo.Address</h4>
                <h3 style="font-weight:bold;">खरिद आदेश</h3>
            </div>
            <div class="col-xs-3">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="pull-right">
                    <h6>खरिद आदेश नं.: @Model.DisplayDocumentNo</h6>
                    <h6>मिति : @Model.DateBS</h6>
                </div>
            </div>
        </div>
        <p style="font-size:16px; line-height:30px;">
            बिक्रेता श्री <span class="text-bold">@Model.VendorDetails.Name</span> &nbsp;
            यस प्राधिकरणको लागि आवश्यक तपसिल बमोजिमका सामानहरू उपलब्ध गराईदिनुहुन ।
        </p>

        <table id="tblStockEntry" border="1" style="border-collapse:collapse; width:100%;" class="print-table">
            <thead class="bg-gray-light">
                <tr>
                    <th rowspan="2" width="2%" style="@tdStyle;">सि.नं.</th>
                    <th rowspan="2" width="42%" style="@tdStyle;">विवरण</th>
                    <th rowspan="2" width="7%" style="@tdStyle;">इकाई</th>
                    <th rowspan="2" width="7%" style="@tdStyle;">परिमाण</th>
                    <th class="text-center" width="10%" style="@tdStyle">दर</th>
                    <th rowspan="2" width="10%" class="text-center" style="@tdStyle">जम्मा</th>
                    <th class="text-center" rowspan="2" width="22%" style="@tdStyle">कैफियत</th>
                </tr>
                <tr>
                    <th style="@tdStyle;">प्रति इकाई</th>
                </tr>

            </thead>
            <tbody class="tbl-item-list report-content-line-item">
                @foreach (var item in detail)
                {
                    sno++;
                    <tr class="entry-field">
                        <td style="@tdStyle;">@sno</td>
                        <td style="@tdStyle;">@item.ItemName</td>
                        <td style="@tdStyle;">@item.UnitName</td>
                        <td class="text-right" style="@tdStyle;">@((item.Qty == 0) ? "" : item.Qty.ToString())</td>
                        <td class="text-right" style="@tdStyle;">@((item.Rate == 0) ? "" : item.Rate.ToString())</td>
                        <td class="text-right" style="@tdStyle;">@item.TotalAmount</td>
                        <td style="@tdStyle;">@item.Specification</td>
                    </tr>
                }
                @for (int i = 0; i < emptyRows; i++)
                {
                    <tr>
                        @for (int j = 0; j < 7; j++)
                        {
                            <td style="@emptyTdStyle"></td>
                        }
                    </tr>
                }
            </tbody>
        </table>
        <br />
        <br />
        <table style="width:100%; margin:10px 20px;">
            <tr>
                <td>
                    <p>......................................</p>
                    <p>&nbsp; &nbsp; &nbsp; तयार गर्ने</p>
                </td>
                <td style="padding:0 20px;" class="pull-right">
                    <p>......................................</p>
                    <p class="text-center">स्वीकृत गर्ने</p>
                </td>
            </tr>
        </table>

    </page>
    <script>
        $('body').bind('keydown', function (e) {
            if (e.keyCode == 27) {
                window.close();
                return false;
            }

            if (e.ctrlKey || e.metaKey) {
                switch (String.fromCharCode(e.which).toLowerCase()) {
                    case 'p':
                        e.preventDefault();
                        $('.btnPrint').trigger('click');
                        break;
                };
            };
        });
    </script>
</body>
</html>

